# This API IS NOT Validate So I Pushed IT For Batter Understanding You Can Also Replace With This API KEY KEY With Your API KEY
GEMINI_API_KEY=AIzaSyB8bRfZb5J7qnMx04b3gfaJ_WB1FTGhzxQ
CORS_ORIGINS=*
APP_HOST=0.0.0.0
APP_PORT=8000
